stages:
  - test
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_IMAGE: "maxpack2030/skillbox-app"
  ANSIBLE_HOST_KEY_CHECKING: "False"

# --- Stage 1: Run tests ---
run_tests:
  stage: test
  image: docker:24.0.2
  services:
    - docker:dind
  script:
    - echo "Running tests..."
    - docker build --target test -t test-image ./skillbox-app
    - docker run --rm test-image
  only:
    - uat
  tags:
    - docker

# --- Stage 2: Build image ---
build_image:
  stage: build
  image: docker:24.0.2
  services:
    - docker:dind
  script:
    - echo "Building Docker image..."
    - docker login -u "$DOCKER_HUB_USER" -p "$DOCKER_HUB_TOKEN"
    - docker build -t "$DOCKER_IMAGE:$CI_COMMIT_REF_NAME" ./skillbox-app
    - docker push "$DOCKER_IMAGE:$CI_COMMIT_REF_NAME"
  only:
    - uat
  needs:
    - run_tests
  tags:
    - docker

# --- Stage 3: Deploy via Ansible ---
deploy_to_uat:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh ansible
    - echo "$ANSIBLE_PRIVATE_KEY" > private_key.pem
    - chmod 600 private_key.pem
    - mkdir -p ~/.ssh
    - ssh-keyscan -H $APP_SERVER_IP >> ~/.ssh/known_hosts
  script:
    - echo "Deploying via Ansible..."
    - ansible-playbook skillbox-app/ansible/deploy_docker.yml -i skillbox-app/ansible/inventory/hosts.yml --private-key private_key.pem -u ubuntu --extra-vars "service_name=skillbox-app image_tag=$CI_COMMIT_REF_NAME docker_image=$DOCKER_IMAGE"
  only:
    - uat
  environment:
    name: uat
  needs:
    - build_image
