stages:
  - test
  - build
  - deploy_staging
  - deploy_production

# ДОБАВИТЬ WORKFLOW
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "uat"'
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_IMAGE: "maxpack2030/skillbox-app"
  ANSIBLE_HOST_KEY_CHECKING: "False"

# --- Stage 1: Run tests (only uat) ---
run_tests:
  stage: test
  image: docker:24.0.2
  services:
    - docker:dind
  script:
    - echo "Running tests..."
    - docker build --target test -t test-image ./skillbox-app
    - docker run --rm test-image
  rules:
    - if: '$CI_COMMIT_BRANCH == "uat"'

# --- Stage 2: Build Docker image (only uat) ---
build_image:
  stage: build
  image: docker:24.0.2
  services:
    - docker:dind
  script:
    - echo "Building Docker image..."
    - docker login -u "$DOCKER_HUB_USER" -p "$DOCKER_HUB_TOKEN"
    - docker build -t "$DOCKER_IMAGE:$CI_COMMIT_REF_NAME" ./skillbox-app
    - docker push "$DOCKER_IMAGE:$CI_COMMIT_REF_NAME"
  needs:
    - run_tests
  rules:
    - if: '$CI_COMMIT_BRANCH == "uat"'

# --- Stage 3: Deploy to STAGING (only uat) ---
deploy_to_staging:
  stage: deploy_staging
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh ansible
    - echo "$ANSIBLE_PRIVATE_KEY" > private_key.pem
    - chmod 600 private_key.pem
    - mkdir -p ~/.ssh
    - ssh-keyscan -H $APP_SERVER_IP >> ~/.ssh/known_hosts
  script:
    - echo "Deploying to STAGING..."
    - ansible-playbook playbooks/deploy_service.yml -i "$APP_SERVER_IP," -u ubuntu --private-key private_key.pem --extra-vars "service_name=skillbox-app docker_image=$DOCKER_IMAGE image_tag=$CI_COMMIT_REF_NAME"
  needs:
    - build_image
  rules:
    - if: '$CI_COMMIT_BRANCH == "uat"'

# --- Stage 4: Deploy to PRODUCTION (only main) ---
deploy_to_prod:
  stage: deploy_production
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh ansible
    - echo "$ANSIBLE_PRIVATE_KEY" > private_key.pem
    - chmod 600 private_key.pem
    - mkdir -p ~/.ssh
    - ssh-keyscan -H $PROD_SERVER_IP >> ~/.ssh/known_hosts
  script:
    - echo "Deploying to PRODUCTION using image from UAT..."
    - ansible-playbook playbooks/deploy_service.yml -i "$PROD_SERVER_IP," -u ubuntu --private-key private_key.pem --extra-vars "service_name=skillbox-app docker_image=$DOCKER_IMAGE image_tag=uat"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual
  environment:
    name: production

