stages:
  - test
  - build
  - deploy_staging
  - deploy_production

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_IMAGE: "maxpack2030/skillbox-app"
  ANSIBLE_HOST_KEY_CHECKING: "False"

# --- Stage 1: Run tests ---
run_tests:
  stage: test
  image: docker:24.0.2
  services:
    - docker:dind
  script:
    - echo "Running tests..."
    - docker build --target test -t test-image ./skillbox-app
    - docker run --rm test-image
  rules:
    - if: '$CI_COMMIT_BRANCH == "uat"'
  tags:
    - docker

# --- Stage 2: Build image ---
build_image:
  stage: build
  image: docker:24.0.2
  services:
    - docker:dind
  script:
    - echo "Building Docker image..."
    - docker login -u "$DOCKER_HUB_USER" -p "$DOCKER_HUB_TOKEN"
    - docker build -t "$DOCKER_IMAGE:$CI_COMMIT_REF_NAME" ./skillbox-app
    - docker push "$DOCKER_IMAGE:$CI_COMMIT_REF_NAME"
  needs:
    - run_tests
  rules:
    - if: '$CI_COMMIT_BRANCH == "uat"'
  tags:
    - docker

# --- Stage 3: Deploy to STAGING ---
deploy_to_staging:
  stage: deploy_staging
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh ansible
    - echo "$ANSIBLE_PRIVATE_KEY" > private_key.pem
    - chmod 600 private_key.pem
    - mkdir -p ~/.ssh
    - ssh-keyscan -H $APP_SERVER_IP >> ~/.ssh/known_hosts
  script:
    - echo "Deploying to STAGING..."
    - ansible-playbook playbooks/deploy_service.yml -i "$APP_SERVER_IP," -u ubuntu --private-key private_key.pem --extra-vars "service_name=skillbox-app docker_image=$DOCKER_IMAGE image_tag=$CI_COMMIT_REF_NAME"
  rules:
    - if: '$CI_COMMIT_BRANCH == "uat"'
  environment:
    name: staging
  needs:
    - job: build_image
      artifacts: true
  artifacts:
    expire_in: 3 days
    reports:
      dotenv: deploy.env
  after_script:
    - echo "DEPLOYED_IMAGE_TAG=$CI_COMMIT_REF_NAME" > deploy.env
  tags:
    - docker

# --- Stage 4: Deploy to PRODUCTION ---
deploy_to_prod:
  stage: deploy_production
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh ansible
    - echo "$ANSIBLE_PRIVATE_KEY" > private_key.pem
    - chmod 600 private_key.pem
    - mkdir -p ~/.ssh
    - ssh-keyscan -H $APP_SERVER_PROD_IP >> ~/.ssh/known_hosts
  script:
    - echo "Deploying to PRODUCTION using same image tag: $DEPLOYED_IMAGE_TAG"
    - ansible-playbook playbooks/deploy_service.yml -i "$APP_SERVER_PROD_IP," -u ubuntu --private-key private_key.pem --extra-vars "service_name=skillbox-app docker_image=$DOCKER_IMAGE image_tag=$DEPLOYED_IMAGE_TAG"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: on_success
    - when: manual
  environment:
    name: production
  needs:
    - job: deploy_to_staging
      artifacts: true
      optional: true
  tags:
    - docker

