[Unit]
Description={{ service_name }} service
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5s
TimeoutStopSec=30s
ExecStartPre=-/usr/bin/docker stop {{ service_name }}
ExecStartPre=-/usr/bin/docker rm {{ service_name }}
ExecStartPre=/usr/bin/docker pull {{ image_name }}:{{ image_tag }}
ExecStart=/usr/bin/docker run --name {{ service_name }} -p 80:8080 {{ image_name }}:{{ image_tag }}
ExecStop=/usr/bin/docker stop {{ service_name }}

[Install]
WantedBy=multi-user.target

