---
- name: Deploy skillbox app from CI
  hosts: app_servers
  become: true

  vars:
    service_name: skillbox-app
    image_name: maxpack2030/skillbox-app
    image_tag: "{{ image_tag | default('latest') }}"
    dockerhub_username: "{{ lookup('env', 'DOCKERHUB_USERNAME') }}"
    dockerhub_token: "{{ lookup('env', 'DOCKERHUB_TOKEN') }}"

  tasks:
    - name: Login to DockerHub
      community.docker.docker_login:
        username: "{{ dockerhub_username }}"
        password: "{{ dockerhub_token }}"

    - name: Pull latest image
      community.docker.docker_image:
        name: "{{ image_name }}"
        tag: "{{ image_tag }}"
        source: pull

    - name: Restart container via systemd
      ansible.builtin.systemd:
        name: "{{ service_name }}"
        state: restarted

