stages:
  - build
  - test
  - push
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""
  DOCKER_IMAGE: "maxpack2030/skillbox-app"
  DOCKER_TAG: "$CI_COMMIT_REF_NAME"
  LATEST_TAG: "latest"

# ========== BUILD STAGE ==========
build:
  stage: build
  image: docker:24.0.2
  services:
    - name: docker:dind
      command: ["--tls=false"]
  script:
    - echo "Building Docker image..."
    - docker info
    - docker build -t $DOCKER_IMAGE:$DOCKER_TAG .
  only:
    - branches

# ========== TEST STAGE ==========
test:
  stage: test
  image: golang:1.22
  script:
    - echo "Running Go tests..."
    - go test ./... -v
  only:
    - branches

# ========== PUSH STAGE ==========
push_to_dockerhub:
  stage: push
  image: docker:24.0.2
  services:
    - name: docker:dind
      command: ["--tls=false"]
  script:
    - echo "Logging into Docker Hub..."
    - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - docker build -t $DOCKER_IMAGE:$DOCKER_TAG .
    - docker push $DOCKER_IMAGE:$DOCKER_TAG
    - |
      if [ "$CI_COMMIT_REF_NAME" == "main" ]; then
        docker tag $DOCKER_IMAGE:$DOCKER_TAG $DOCKER_IMAGE:$LATEST_TAG
        docker push $DOCKER_IMAGE:$LATEST_TAG
      fi
  only:
    - branches

# ========== DEPLOY STAGE ==========
deploy:
  stage: deploy
  tags:
    - docker
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh ansible
    # Записываем приватный SSH-ключ из переменной
    - echo "$ANSIBLE_PRIVATE_KEY" > private_key.pem
    - chmod 600 private_key.pem
    - mkdir -p ~/.ssh
    - ssh-keyscan -H 34.186.24.52 >> ~/.ssh/known_hosts
  script:
    - echo "Running deploy via Ansible..."
    - ansible-playbook ansible/playbooks/deploy_docker.yml -i ansible/inventory/hosts.yml --private-key private_key.pem -u ubuntu --extra-vars "service_name=skillbox-app image_tag=$CI_COMMIT_REF_NAME"

  only:
    - main
    - uat

